<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de consultas para uma clinica</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script type="text/javascript"
        src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=3uLZ6rLdg2RAsZcc3bzIHPD-dxIqVT5-Ou6oM7EHCYUo42atfWIoPQtudQEu1WRCgnaxg3Lq_teuOwvzvBrz2b-OVsOOTmn55YT1FQOV3lZolUHAi3LLmlFCjENWM54zZpGWNualh9H5h5dn_R4Vh4M14xDRZpvHDIjtwbx03CAUzKO4G4TbJh_SG_kRsw_JfErubWrc-IAo6Y2KsgjiGJOClfQd6n056-LASLHg8-Zvq3yS_cC5g_5j7xDr1gIO9GqS8bIf5VHfjUrCm1UoqhiMiwiKZTn16IfQl15Gb74awPaINb-9Bb4h9tIO3ntwPk3vBQX34HnZ-yqEDY3CtSMjxx2v4SNRATUdePUqI95fAosKLFg_nEbRNRLRncVJ61fngeRNvBC9hMRzJeBFrY5cuN-96OSMwF34-bhsF4JOSrKO_VFg1e-rIqq80JHkgupy3h-8FrP4CSsbhlpmsKucz8ZyOB_6rvyLWmE2GV4HvmC5Q60JNj91KOIn_Rt0QYXi0kf-egGwhN7U1FqTspOOaL3fnqO5usL9S5pWyXqN8w4vpC23ntKMcd1JRm2Y7y-3UBWd9pZtqFCqqiHToOSEn7WlsjhSXKMhBMnl533cW5cPNCOwla3Lge4_IxrnqCmbbZg4C-qnbj4WcMDhltG-PgengWm3FdMIamJb0zucbqZiLIPEcHZ82mZZ6NCuORUH8aFN1nGhYBN6JdgogalUr5XKVXQL4zIP6r9qgtF-LkQNd_GLgrP3tBLIKbBKPh-nHdGP19RKFzOLmE6idqNo_1qkNIY5JoECLVibvfrRjDOhr_d75mW237oe7utTSdkdf7rC478L-0hYpkAKIyGXg1kSXxvVK6Qxowaryu_xDuAYFmMwLf8LKjLoBx5ykhjlCMEHf_icnx6MyHJo88nLMejdybw7fxUEYAUn723N7TnjaDVLp1DGdSu7TPxnByaC4sGLYqPV2zbXzUErVt3eLCDAfY2kTg3QhSka4wsjrJeZW1mmtI0LmgFyHAVorm-huobnbYJKAbz6vEZZQkEAw2f4gEOtqgwvl4hXLjhLp-4C94EUkALllOcboOuKriB16MH8xPqkWELPPTF119M77PMl6cHuW3VAziiqvsvzhDsQfNFAnK4SJIrt_4NatBSI301pL4PwxXld9uYw6eO7gwIiRsS3O_OjX9i-kTBiRDefw5Ij7gUaNtBbSb2smzw4HQ2XdGi3XAjS_oabiJ6a0fygunoIdjN0SuYOMCOZjU3zpa-a5uqywnEOJ1meM1XxjrYGpGXKSTQH0q0a8GDjIKB0C9UOu5wTUSKPsWYewG8ijh5nSEqSIddXN7dlcsNaSTs-yLbLr1TZFjTTesijG7yj2GO3XAl3ldQkumY"
        charset="UTF-8"></script>


</head>

<body>
    {{{body}}}
</body>

</html>